.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    transform: translateX(97.5%) ;
    transition: 0.5s;
}

.menu.active {
    transform: translateX(75%);
    transition: 0.5s;
}


.menu-content {
    width: 25%;
    height: 100%;
    background-color: #161e40;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 50px;
}

.menu-header {
    padding: 10px;
    font-size: 1.5rem;
    color: white;
}

.menu-btn {
    width: 3%;
    height: 100%;
    margin-top: 0;
    position: absolute;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
}

/*.arrowBackIcon {*/
/*    margin-top: 235px;*/
/*    margin-left: 10px;*/
/*}*/

/*.ArrowForwardIcon {*/
/*    margin-top: 235px;*/
/*    margin-left: 20px;*/
/*}*/

.nameEmployee {
    top: 10px;
    font-size: x-large;
    color: white;
}

.informationText {
    margin-top: 20px;
    color: white;
    size: 20px;

}

.avatar {
    margin-left: 0;
    margin-top: 10px;
}

.Search {
    margin-top: 20px;
}



